.title h1{
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 2;
    width: 71%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#demo {
    position: relative!important;
}

.footer{
    top:15%;
    bottom: 15%;
}